main {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 10px 10px 0;
  background-color: #5D46E1;
  color: #FCF7FF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in;
}

.button:hover {
  background-color: #9183e5;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #1E1927;
}

th {
  background-color: #5D46E1;
  color: #FCF7FF;
}

tr {
  transition: all .2s ease-in;
}

tr:hover {
  background-color: #9995b2;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

input[type="text"], input[type="date"] {
  padding: 4px;
  border: 1px solid #1E1927;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #6dd271;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all .2s ease-in;
}

button[type="submit"]:hover {
  background-color: #387a3b;
}

button[type="delete"] {
  background-color: #965050;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
  transition: all .2s ease-in;
}

button[type="delete"]:hover {
  background-color: #4b2020;
}

button[type="update"] {
  background-color: #6d90d2;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all .2s ease-in;
}

button[type="update"]:hover {
  background-color: #263854;
}
